extends layout
block content
  h2 Passengers
  p2  Bookings #{passengers.length}  
    ol 
    each passenger in passengers
      li
        a(href=`/passengers/${passenger.id}`) #{passenger.name}
        