doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    h1 Hello Welcome Booking App 
    p  Booking

    h2 Passenger Detail
    p2 #{passenger.name}
     
      h3 Bookings History 
        if passenger.bookings.length
          ol 
            each booking in passenger.bookings
              li From #{booking.origin} to #{booking.destination}
        else
          p No bookings found